**Practice Only No Copy and Paste from any sources.**

#Read the dataset (propertydata.csv) and identify the columns and their datatype

In [6]:
import pandas as pd
df=pd.read_csv('/content/propertydata.csv') 
df.dtypes

PID             float64
ST_NUM          float64
ST_NAME          object
OWN_OCCUPIED     object
NUM_BEDROOMS     object
NUM_BATH         object
SQ_FT            object
dtype: object

#Describe the dataset

In [7]:
df.describe()

                PID      ST_NUM
count  8.000000e+00    7.000000
mean   1.000050e+08  191.428571
std    2.927700e+03   39.080503
min    1.000010e+08  104.000000
25%    1.000028e+08  199.000000
50%    1.000050e+08  203.000000
75%    1.000072e+08  210.000000
max    1.000090e+08  215.000000

#Display the street number (ST_NUM) and check any NaN values.

In [8]:
street_nos = df['ST_NUM']
street_nos

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

In [9]:
street_nos.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

#Print the number of bedrooms (NUM_BEDROOMS) and check any NaN values.

In [10]:
num_bedrooms = df['NUM_BEDROOMS']
num_bedrooms

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7      1
8     na
Name: NUM_BEDROOMS, dtype: object

In [11]:
num_bedrooms.isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: NUM_BEDROOMS, dtype: bool

#There are few missing values like ["n/a", "na",  "--"] Apply some technique to replace these values with NaN.

In [12]:
blank_values = ["n/a", "na", "--"]
df = pd.read_csv("/content/propertydata.csv", na_values=blank_values)
df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

#Fill the ST_NUM by the maximum number of houses in a particular street

In [13]:
df['ST_NUM'] = df.groupby('ST_NUM')['ST_NUM'].transform(lambda x: x.fillna(x.max()))
print(df['ST_NUM'].isna().sum())

2